body{
  background-color:black;
  font-family: 'Nanum Myeongjo', serif;
  margin:0;
}

/*bootstrap override*/
.container-fluid{
  margin:0;
  padding:0;
}
.row{
  margin:0;
  padding:0;
}
.col-lg-3{
  margin:-1vh 0 -1vh 0;
  padding:0;
}

/*top & bottom margin*/
.margin{
  height:50vw;
  text-align:center;
}
@media(min-height:200vw){
  .margin{
    height:65vw;
  }
}
@media(max-height:100vw){
  .margin{
    height:25vh;
  }
}

/*front text*/
.text-group{
  color:white;
  font-size:25vw;
}
.text{
  margin-top:-5vh;
}
.text-right{
  text-align:right;
}
@media(max-height:100vw){
  .text-group{
    font-size:18vh;
    margin-left:20vw;
    width:60vw;
  }
  .text{
    margin-top:-10vh;
  }
}

/*circle menu*/
.circle{
  background-color:white;
  border-radius:50%;
  text-align:center;
}
.front{
  height:60vh;
  left:10vw;
  position:fixed;
  top:20vh;
  width:80vw;
  z-index:1;
}
.members{
  font-size:6vh;
  padding-bottom:2vh;
  padding-top:2vh;
  width:100%;
}
@media(min-width:768px){
  .front{
    left:20vw;
    top:20vh;
    width:60vw;
  }
  .members{
    font-size:8vh;
  }
}

/*top and bottom label*/
.line{
  background-color:white;
  font-size:6vw;
  font-weight:bold;
  position:fixed;
  width:100%;
}
.top{
  top:0;
}
.bottom{
  bottom:0;
}
@media(max-height:100vw){
  .line{
    font-size:4vh;
  }
}
